<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="css/regist.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <%  found.forEach(function(item){ %>
      <div class="quiz receipt">
      <form  action="/sendmailquiz" method="post">
      <table cellspacing=20>
        <tr>
          <td><h3>Name</h3></td>
          <td><h4><%=item.name%></h4></td>
        </tr>
        <tr>
        <tr>
          <td><h3>Email ID</h3></td>
          <td><h4><%=item.email%></h4></td>
        </tr>
        <input type="hidden" name="email" value="<%=item.email%>">
        <tr>
          <td><h3>Phone No</h3></td>
          <td><h4><%=item.phone%></h4></td>
        </tr>
        <tr>
          <td><h3 style="text-allign:center;">Mathematics</h3></td>
        </tr>
        <tr>
          <td><h3>1</h3></td>
          <td><h4><%=item.qm.q1%></h4></td>
        </tr>
        <tr>
          <td><h3>2</h3></td>
          <td><h4><%=item.qm.q2%></h4></td>
        </tr>
        <tr>
          <td><h3>3</h3></td>
          <td><h4><%=item.qm.q3%></h4></td>
        </tr>
        <tr>
          <td><h3>4</h3></td>
          <td><h4><%=item.qm.q4%></h4></td>
        </tr>
        <tr>
          <td><h3>5</h3></td>
          <td><h4><%=item.qm.q5%></h4></td>
        </tr>
        <tr>
          <td><h3>6</h3></td>
          <td><h4><%=item.qm.q6%></h4></td>
        </tr>
        <tr>
          <td><h3>7</h3></td>
          <td><h4><%=item.qm.q7%></h4></td>
        </tr>
        <tr>
          <td><h3>8</h3></td>
          <td><h4><%=item.qm.q8%></h4></td>
        </tr>
        <tr>
          <td><h3>9</h3></td>
          <td><h4><%=item.qm.q9%></h4></td>
        </tr>
        <tr>
          <td><h3>10</h3></td>
          <td><h4><%=item.qm.q10%></h4></td>
        </tr>
        <tr>
          <td><h3>11</h3></td>
          <td><h4><%=item.qm.q11%></h4></td>
        </tr>
        <tr>
          <td><h3>12</h3></td>
          <td><h4><%=item.qm.q12%></h4></td>
        </tr>
        <tr>
          <td><h3>13</h3></td>
          <td><h4><%=item.qm.q13%></h4></td>
        </tr>
        <tr>
          <td><h3>14</h3></td>
          <td><h4><%=item.qm.q14%></h4></td>
        </tr>
        <tr>
          <td><h3>15</h3></td>
          <td><h4><%=item.qm.q15%></h4></td>
        </tr>
        <tr>
          <td><h3>16</h3></td>
          <td><h4><%=item.qm.q16%></h4></td>
        </tr>
        <tr>
          <td><h3>17</h3></td>
          <td><h4><%=item.qm.q17%></h4></td>
        </tr>
        <tr>
          <td><h3>18</h3></td>
          <td><h4><%=item.qm.q18%></h4></td>
        </tr>
        <tr>
          <td><h3>19</h3></td>
          <td><h4><%=item.qm.q19%></h4></td>
        </tr>
        <tr>
          <td><h3>20</h3></td>
          <td><h4><%=item.qm.q20%></h4></td>
        </tr>
        <tr>
          <td><h3>21</h3></td>
          <td><h4><%=item.qm.q21%></h4></td>
        </tr>
        <tr>
          <td><h3>22</h3></td>
          <td><h4><%=item.qm.q22%></h4></td>
        </tr>
        <tr>
          <td><h3>23</h3></td>
          <td><h4><%=item.qm.q23%></h4></td>
        </tr>
        <tr>
          <td><h3>24</h3></td>
          <td><h4><%=item.qm.q24%></h4></td>
        </tr>
        <tr>
          <td><h3>25</h3></td>
          <td><h4><%=item.qm.q25%></h4></td>
        </tr>
        <tr>
          <td><h3>26</h3></td>
          <td><h4><%=item.qm.q26%></h4></td>
        </tr>
        <tr>
          <td><h3>27</h3></td>
          <td><h4><%=item.qm.q27%></h4></td>
        </tr>
        <tr>
          <td><h3>28</h3></td>
          <td><h4><%=item.qm.q28%></h4></td>
        </tr>
        <tr>
          <td><h3>29</h3></td>
          <td><h4><%=item.qm.q29%></h4></td>
        </tr>
        <tr>
          <td><h3 style="text-allign:center;">English</h3></td>
        </tr>
        <tr>
          <td><h3>1</h3></td>
          <td><h4><%=item.qe.q1%></h4></td>
        </tr>
        <tr>
          <td><h3>2</h3></td>
          <td><h4><%=item.qe.q2%></h4></td>
        </tr>
        <tr>
          <td><h3>3</h3></td>
          <td><h4><%=item.qe.q3%></h4></td>
        </tr>
        <tr>
          <td><h3>4</h3></td>
          <td><h4><%=item.qe.q4%></h4></td>
        </tr>
        <tr>
          <td><h3>5</h3></td>
          <td><h4><%=item.qe.q5%></h4></td>
        </tr>
        <tr>
          <td><h3>6</h3></td>
          <td><h4><%=item.qe.q6%></h4></td>
        </tr>
        <tr>
          <td><h3>7</h3></td>
          <td><h4><%=item.qe.q7%></h4></td>
        </tr>
        <tr>
          <td><h3>8</h3></td>
          <td><h4><%=item.qe.q8%></h4></td>
        </tr>
        <tr>
          <td><h3>9</h3></td>
          <td><h4><%=item.qe.q9%></h4></td>
        </tr>
        <tr>
          <td><h3>10</h3></td>
          <td><h4><%=item.qe.q10%></h4></td>
        </tr>
        <tr>
          <td><h3>11</h3></td>
          <td><h4><%=item.qe.q11%></h4></td>
        </tr>
        <tr>
          <td><h3>12</h3></td>
          <td><h4><%=item.qe.q12%></h4></td>
        </tr>
        <tr>
          <td><h3>13</h3></td>
          <td><h4><%=item.qe.q13%></h4></td>
        </tr>
        <tr>
          <td><h3>14</h3></td>
          <td><h4><%=item.qe.q14%></h4></td>
        </tr>
        <tr>
          <td><h3>15</h3></td>
          <td><h4><%=item.qe.q15%></h4></td>
        </tr>
        <tr>
          <td><h3>16</h3></td>
          <td><h4><%=item.qe.q16%></h4></td>
        </tr>
        <tr>
          <td><h3>17</h3></td>
          <td><h4><%=item.qe.q17%></h4></td>
        </tr>
        <tr>
          <td><h3>18</h3></td>
          <td><h4><%=item.qe.q18%></h4></td>
        </tr>
        <tr>
          <td><h3>19</h3></td>
          <td><h4><%=item.qe.q19%></h4></td>
        </tr>
        <tr>
          <td><h3>20</h3></td>
          <td><h4><%=item.qe.q20%></h4></td>
        </tr>
        <tr>
          <td><h3>21</h3></td>
          <td><h4><%=item.qe.q21%></h4></td>
        </tr>
        <tr>
          <td><h3>22</h3></td>
          <td><h4><%=item.qe.q22%></h4></td>
        </tr>
        <tr>
          <td><h3>23</h3></td>
          <td><h4><%=item.qe.q23%></h4></td>
        </tr>
        <tr>
          <td><h3>24</h3></td>
          <td><h4><%=item.qe.q24%></h4></td>
        </tr>
        <tr>
          <td><h3>25</h3></td>
          <td><h4><%=item.qe.q25%></h4></td>
        </tr>
        <tr>
          <td><h3>26</h3></td>
          <td><h4><%=item.qe.q26%></h4></td>
        </tr>
        <tr>
          <td><h3>27</h3></td>
          <td><h4><%=item.qe.q27%></h4></td>
        </tr>
        <tr>
          <td><h3>28</h3></td>
          <td><h4><%=item.qe.q28%></h4></td>
        </tr>
        <tr>
            <td><h3 style="text-allign:center;">Science</h3></td>
        </tr>
        <tr>
          <td><h3>1</h3></td>
          <td><h4><%=item.qs.q1%></h4></td>
        </tr>
        <tr>
          <td><h3>2</h3></td>
          <td><h4><%=item.qs.q2%></h4></td>
        </tr>
        <tr>
          <td><h3>3</h3></td>
          <td><h4><%=item.qs.q3%></h4></td>
        </tr>
        <tr>
          <td><h3>4</h3></td>
          <td><h4><%=item.qs.q4%></h4></td>
        </tr>
        <tr>
          <td><h3>5</h3></td>
          <td><h4><%=item.qs.q5%></h4></td>
        </tr>
        <tr>
          <td><h3>6</h3></td>
          <td><h4><%=item.qs.q6%></h4></td>
        </tr>
        <tr>
          <td><h3>7</h3></td>
          <td><h4><%=item.qs.q7%></h4></td>
        </tr>
        <tr>
          <td><h3>8</h3></td>
          <td><h4><%=item.qs.q8%></h4></td>
        </tr>
        <tr>
          <td><h3>9</h3></td>
          <td><h4><%=item.qs.q9%></h4></td>
        </tr>
        <tr>
          <td><h3>10</h3></td>
          <td><h4><%=item.qs.q10%></h4></td>
        </tr>
        <tr>
          <td><h3>11</h3></td>
          <td><h4><%=item.qs.q11%></h4></td>
        </tr>
        <tr>
          <td><h3>12</h3></td>
          <td><h4><%=item.qs.q12%></h4></td>
        </tr>
        <tr>
          <td><h3>13</h3></td>
          <td><h4><%=item.qs.q13%></h4></td>
        </tr>
        <tr>
          <td><h3>14</h3></td>
          <td><h4><%=item.qs.q14%></h4></td>
        </tr>
        <tr>
          <td><h3>15</h3></td>
          <td><h4><%=item.qs.q15%></h4></td>
        </tr>
        <tr>
          <td><h3>16</h3></td>
          <td><h4><%=item.qs.q16%></h4></td>
        </tr>
        <tr>
          <td><h3>17</h3></td>
          <td><h4><%=item.qs.q17%></h4></td>
        </tr>
        <tr>
          <td><h3>18</h3></td>
          <td><h4><%=item.qs.q18%></h4></td>
        </tr>
        <tr>
          <td><h3>19</h3></td>
          <td><h4><%=item.qs.q19%></h4></td>
        </tr>
        <tr>
          <td><h3>20</h3></td>
          <td><h4><%=item.qs.q20%></h4></td>
        </tr>
        <tr>
          <td><h3>21</h3></td>
          <td><h4><%=item.qs.q21%></h4></td>
        </tr>
        <tr>
          <td><h3>22</h3></td>
          <td><h4><%=item.qs.q22%></h4></td>
        </tr>
        <tr>
          <td><h3>23</h3></td>
          <td><h4><%=item.qs.q23%></h4></td>
        </tr>
        <tr>
          <td><h3>24</h3></td>
          <td><h4><%=item.qs.q24%></h4></td>
        </tr>
        <tr>
          <td><h3>25</h3></td>
          <td><h4><%=item.qs.q25%></h4></td>
        </tr>
        <tr>
          <td><h3>26</h3></td>
          <td><h4><%=item.qs.q26%></h4></td>
        </tr>
        <tr>
          <td><h3>27</h3></td>
          <td><h4><%=item.qs.q27%></h4></td>
        </tr>
        <tr>
          <td><h3>28</h3></td>
          <td><h4><%=item.qs.q28%></h4></td>
        </tr>
        <tr>
          <td><h3>29</h3></td>
          <td><h4><%=item.qs.q29%></h4></td>
        </tr>
        <tr>
          <td><h3>30</h3></td>
          <td><h4><%=item.qs.q30%></h4></td>
        </tr>
        <tr>
          <td><h3 style="text-allign:center;">General Awareness</h3></td>
        </tr>
        <tr>
          <td><h3>1</h3></td>
          <td><h4><%=item.qg.q1%></h4></td>
        </tr>
        <tr>
          <td><h3>2</h3></td>
          <td><h4><%=item.qg.q2%></h4></td>
        </tr>
        <tr>
          <td><h3>3</h3></td>
          <td><h4><%=item.qg.q3%></h4></td>
        </tr>
        <tr>
          <td><h3>4</h3></td>
          <td><h4><%=item.qg.q4%></h4></td>
        </tr>
        <tr>
          <td><h3>5</h3></td>
          <td><h4><%=item.qg.q5%></h4></td>
        </tr>
        <tr>
          <td><h3>6</h3></td>
          <td><h4><%=item.qg.q6%></h4></td>
        </tr>
        <tr>
          <td><h3>7</h3></td>
          <td><h4><%=item.qg.q7%></h4></td>
        </tr>
        <tr>
          <td><h3>8</h3></td>
          <td><h4><%=item.qg.q8%></h4></td>
        </tr>
        <tr>
          <td><h3>9</h3></td>
          <td><h4><%=item.qg.q9%></h4></td>
        </tr>
        <tr>
          <td><h3>10</h3></td>
          <td><h4><%=item.qg.q10%></h4></td>
        </tr>
        <tr>
          <td><h3>11</h3></td>
          <td><h4><%=item.qg.q11%></h4></td>
        </tr>
        <tr>
          <td><h3>12</h3></td>
          <td><h4><%=item.qg.q12%></h4></td>
        </tr>
        <tr>
          <td><h3>13</h3></td>
          <td><h4><%=item.qg.q13%></h4></td>
        </tr>
        <tr>
          <td><h3>14</h3></td>
          <td><h4><%=item.qg.q14%></h4></td>
        </tr>
        <tr>
          <td><h3>15</h3></td>
          <td><h4><%=item.qg.q15%></h4></td>
        </tr>
        <tr>
          <td><h3>16</h3></td>
          <td><h4><%=item.qg.q16%></h4></td>
        </tr>
        <tr>
          <td><h3>17</h3></td>
          <td><h4><%=item.qg.q17%></h4></td>
        </tr>
        <tr>
          <td><h3>18</h3></td>
          <td><h4><%=item.qg.q18%></h4></td>
        </tr>
        <tr>
          <td><h3>19</h3></td>
          <td><h4><%=item.qg.q19%></h4></td>
        </tr>
        <tr>
          <td><h3>20</h3></td>
          <td><h4><%=item.qg.q20%></h4></td>
        </tr>
        <tr>
          <td><h3>21</h3></td>
          <td><h4><%=item.qg.q21%></h4></td>
        </tr>
        <tr>
          <td><h3>22</h3></td>
          <td><h4><%=item.qg.q22%></h4></td>
        </tr>
        <tr>
          <td><h3>23</h3></td>
          <td><h4><%=item.qg.q23%></h4></td>
        </tr>
        <tr>
          <td><h3>24</h3></td>
          <td><h4><%=item.qg.q24%></h4></td>
        </tr>
        <tr>
          <td><h3>25</h3></td>
          <td><h4><%=item.qg.q25%></h4></td>
        </tr>
        <tr>
          <td><h3>26</h3></td>
          <td><h4><%=item.qg.q26%></h4></td>
        </tr>
        <tr>
          <td><h3>27</h3></td>
          <td><h4><%=item.qg.q27%></h4></td>
        </tr>
        <tr>
          <td><h3>28</h3></td>
          <td><h4><%=item.qg.q28%></h4></td>
        </tr>
        <tr>
          <td><h3>29</h3></td>
          <td><h4><%=item.qg.q29%></h4></td>
        </tr>
        <tr>
          <td><h3>30</h3></td>
          <td><h4><%=item.qg.q30%></h4></td>
        </tr>
        <tr>
          <td><h3 style="text-allign:center;">Psychometric Test</h3></td>
        </tr>
      <tr>
          <td><h3>1</h3></td>
          <td><h4><%=item.qp.q1%></h4></td>
        </tr>
        <tr>
          <td><h3>2</h3></td>
          <td><h4><%=item.qp.q2%></h4></td>
        </tr>
        <tr>
          <td><h3>3</h3></td>
          <td><h4><%=item.qp.q3%></h4></td>
        </tr>
        <tr>
          <td><h3>4</h3></td>
          <td><h4><%=item.qp.q4%></h4></td>
        </tr>
        <tr>
          <td><h3>5</h3></td>
          <td><h4><%=item.qp.q5%></h4></td>
        </tr>
        <tr>
          <td><h3>6</h3></td>
          <td><h4><%=item.qp.q6%></h4></td>
        </tr>
        <tr>
          <td><h3>7</h3></td>
          <td><h4><%=item.qp.q7%></h4></td>
        </tr>
        <tr>
          <td><h3>8</h3></td>
          <td><h4><%=item.qp.q8%></h4></td>
        </tr>
        <tr>
          <td><h3>9</h3></td>
          <td><h4><%=item.qp.q9%></h4></td>
        </tr>
        <tr>
          <td><h3>10</h3></td>
          <td><h4><%=item.qp.q10%></h4></td>
        </tr>
        <tr>
          <td><h3>11</h3></td>
          <td><h4><%=item.qp.q11%></h4></td>
        </tr>
        <tr>
          <td><h3>12</h3></td>
          <td><h4><%=item.qp.q12%></h4></td>
        </tr>
        <tr>
          <td><h3>13</h3></td>
          <td><h4><%=item.qp.q13%></h4></td>
        </tr>
        <tr>
          <td><h3>14</h3></td>
          <td><h4><%=item.qp.q14%></h4></td>
        </tr>
        <tr>
          <td><h3>15</h3></td>
          <td><h4><%=item.qp.q15%></h4></td>
        </tr>
        <tr>
          <td><h3>16</h3></td>
          <td><h4><%=item.qp.q16%></h4></td>
        </tr>
        <tr>
          <td><h3>17</h3></td>
          <td><h4><%=item.qp.q17%></h4></td>
        </tr>
        <tr>
          <td><h3>18</h3></td>
          <td><h4><%=item.qp.q18%></h4></td>
        </tr>
        <tr>
          <td><h3>19</h3></td>
          <td><h4><%=item.qp.q19%></h4></td>
        </tr>
        <tr>
          <td><h3>20</h3></td>
          <td><h4><%=item.qp.q20%></h4></td>
        </tr>
      </table>
      <div class="form-group">
      <input type="text" name="score" placeholder="Write student score here">
    </div>
      <div class="form-group button">
                <button type="submit" class="btn btn-lg btn-info">Send Score to Student</button>
                </div>
      </form>
    </div>
    <%  });  %>
  </body>
</html>
